html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./img/supermercado.jpg'); /* Ruta a mi imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    text-align: center;
}

h1 {
    color: #32e60a;
    font-size: 3em;
    margin: 0;
}
